

/***************************************************************************/
/*      LEGEND                                                             */
/*      HIGHLIGHT AND USE USE CTRL + F + ENTER TO SKIP TO EACH SECTION     */ 
/*                                                                         */
/*                                                                         */
/*      SETUP!                                                             */
/*      Style Guide                                                        */
/*      General Settings of Elements and Sections...and Stylistic Sugar!   */
/*      Section 1: Header                                                  */
/*      Section 2:                                            */
/*      Section 3:                                               */
/*      Section 4:                                              */
/*      Section 5:                                                  */
/*                                                                         */
/***************************************************************************/




/*********************************** Setup! *********************************************/

html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.visuallyhidden:not(:focus):not(:active) {position: absolute;width: 1px;height: 1px;margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(0 0 0 0);overflow: hidden;}

/************************************ Style Guide *********************************************/

html {
  font-size: 62.5%;
}

body {
    padding: 0.1px;
    font-family: 'Rubik', sans-serif;
    font-weight: normal;
    font-style: normal;
    position: relative;
    background: #DBE3E9;
}

img {
  width: 100%;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

section {
  background: white;
      height: 81.5vh;

}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

header {
  background: #DBE3E9;
  position: relative;
}

.header-logo {
  width: 50px;
  margin-top: 5px;
}

.wrapper {
  padding:  4%;
  margin: 0 auto;
  position: relative;
}


.nav-wrapper {
  position: sticky;
  top: 4%;
  margin: 4% 4% 0 4%;
  background: white;
  height: 100px;
  z-index: 999;
  transition: all 0.5s;
}

.nav-fixed {
  margin: 0;
  top: 0;
}

.nav-shadow {
box-shadow: 0px 40px 60px 0px rgba(0,0,0,0.2);
}

.nav-flex {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 10px 50px 0 50px;
}

.nav-hide {   /* Navigation while hidden */
  opacity: 0;
  top: 0;
  width: 100%;
  text-align: center;
  transition: top 1s ease-out;
}

.nav-show {   /* Navigation while visible */
  z-index: 0;
  position: absolute;
  top: 98px;
  left:0;
  width: 100%;
  transition: all 1s ease-out, box-shadow 0.5s;
  opacity: 1;
  text-align: center;
}

nav ul {
  display: flex;
  flex-direction: column;
  background: white;
}

nav ul li {
  list-style: none;
  font-size: 1.6rem;
  margin-top: 20px;
}


button {
  background-color: orangered;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

button:active {  /* Add this function later */
}

button:focus {
  background-color: green;
  
}

.heading-wrapper {
  position:relative;
  padding: 75px 15px;
  z-index: 1;

}

.background {
  visibility: hidden;
}


/* FIX PAGE STYLINGS */

h1 {
  font-weight: 700;
  font-size: 50px;
  font-family: 'Rufina', serif;
  visibility: hidden;
}
 
h2 {     
    font-family: 'Rubik', serif;
    font-weight: normal;
    color: #152136;
    margin-top: 0px;
    font-style: normal;
    font-weight: 400;
    visibility: hidden;
  }

  .whatIDo {
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-weight: 500;
    padding: 15px 15px;
    text-transform: uppercase;
    vertical-align: middle;
    background: #ff4a57;
    border-radius: 30px;
    letter-spacing: 2px;
    text-decoration: none;
}

.header-social {
  margin-top: 50px;
  width: 60%;
  display: flex;
  justify-content: space-between;
}

.header-social li {
  background: #e5ecf1;
  display: inline;
}

.header-social li:hover a{
  background: #fff;
}

.header-social a {
  display: inline-block;
  padding: 10px;
}

.header-social i {
  font-size: 1.8rem;
  color: #717377;
}

.background {
    position: absolute;
    display: inline-block;
    top: 75px;
    right: 0;
    left: 0;
    visibility: visible;
    z-index: -1;
}

.floating-developer {
    display: inline-block;
    color: #fff;
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
    font-size: 75px;
    margin: 0;
    transform: rotate(-15deg);
}

.flex-header-content {
  display: flex;
  flex-direction: column;
    position: relative;
}

.my-mug {
  width: 20%;
  position: absolute;
  bottom: 0;
  right: 15%;
  z-index: 100;
  display: none;
}


/* Landscape phones and down */
@media (min-width: 364px) {
.header-social {
  width: 40%;
}

  h1 {
  font-size: 4rem;
}
 
h2 {     
    font-size: 2rem;
  }

  .header-social i {
  font-size: 2.1rem;
}

}
/* Landscape phone to portrait tablet */
@media (min-width: 641px) {

  h1 {
  font-size: 5rem;
}
 
h2 {     
    font-size: 2.2rem;
  }

 .background {
    top: -20px;
    left: 10%;
  }
.flex-header-content {
  flex-direction: row;
  justify-content: space-between;
}

.right {
  position: absolute;
  right: 0;
  bottom: -100px;
}

.header-social {
  flex-direction: column;
  width: 100%;
}

.header-social li {
    margin-top: 10px;
}

.header-social i {
  font-size: 3rem;
}

.floating-developer {
    font-size: 125px;
}
}

/* Landscape phone to portrait tablet */
@media (min-width: 961px) {

h1 {
  font-size: 7rem;
}
 
h2 {     
    font-size: 2.5rem;
  }

 .background {
    top: -30px;
    left: 20%;
  }

  .floating-developer {
    font-size: 150px;
}

.my-mug {
display: block;
}


.drop-down-wrapper {
  width: 60%;
  display: flex;

}


.nav-hide {   /* Navigation while hidden */
  opacity: 1;


}

nav ul {
  flex-direction: row;
  justify-content: space-between;
  }

nav ul li {
}

button {
  display: none;
}

}



/* Portrait tablet and small desktops */
@media (min-width: 1281px) {
 .background {
    top: -30px;
    left: 20%;
  }
/*  .wrapper {
    height: 81.5vh;
  }*/

h1 {
  font-size: 9rem;
}
 
h2 {     
    font-size: 3rem;
  }

.whatIDo {
    padding: 21px 53px;
    text-transform: uppercase;
    vertical-align: middle;
    background: #ff4a57;
    border-radius: 30px;
    letter-spacing: 2px;
    text-decoration: none;
}



  .floating-developer {
    font-size: 250px;
  }

}

/* Headings
-------------------------------------------------------------- */








