@import 'normalize';

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  padding: 0.1px;
  position: relative;
  background: #DBE3E9;
  height: 500vh;
}

img {
  width: 100%;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}


header {
  background: #DBE3E9;
  position: relative;
}

.nav-wrapper {
  position: sticky;
  top: 4%;
  margin: 4% 4% 0 4%;
  background: white;
  height: 100px;
  z-index: 5;
  transition: all 0.5s;
}

.nav-fixed {
  margin: 0;
  top: 0;
}

.nav-shadow {
  box-shadow: 0px 40px 60px 0px rgba(0,0,0,0.2);
}

.drop-down-shadow {
  box-shadow: 0px 40px 60px 0px rgba(0,0,0,0.2);
}

.nav {
  // text-align: center;
  li {
    position: relative;
    margin: 10px;
    a {
      display: block;
      padding: 20px;
      font-size: 1.6rem;
      font-weight: 500;
      color: black;
    }  
    a:before {
      content: '';
      position:absolute;
      height: 2px;
      background: linear-gradient(150deg, rgba(249,160,63,0.5), rgba(255,74,87,1));
      left: 0px;
      bottom: 0px;
      right: 100%;
      display: block;
      transition: right 0.5s;
    }    
  }
} 

  nav ul li:hover a:before  {
    right: 70%;
  } 

.sticky-wrapper {   //start of the code block for the sticky wrapper
  
  position: relative;
  margin-bottom: 1px;
  width: 100%;
  color: #fff;
  overflow: hidden;

  .header-logo {
    width: 50px;
    margin: 10px 0 0 20px;
  }

  input {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }

  input:checked ~ .tab-content {
    max-height: 35vh; //CHANGE THIS VALUE TO CONTROL THE HEIGHT OF THE SCROLLDOWN MENU
  }

  .added {
    max-height: 0;
  }


  
  label {
   position: absolute;
   display: block;
   top: 0;
   right: 0;
   font-size: 30px;
   margin: 30px 20px;
   color: orange;
  }
  
  .tab-content {
    max-height: 0;
    margin-top: 14px;
    overflow: hidden;
    background: #fff;
    transition: max-height 0.5s ease-out;
    position: relative;
  }
  
}

button {
  background-color: orangered;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

button:active {  /* Add this function later */
}

button:focus {
  background-color: green; 
}

.heading-wrapper {
  position:relative;
  padding: 75px 15px;
  z-index: 1;
}

.background {
  visibility: hidden;
}


/* FIX PAGE STYLINGS */

h1 {
  font-weight: 700;
  font-size: 50px;
  font-family: 'Rufina', serif;
  visibility: hidden;
}
 
h2 {     
  font-family: 'Rubik', serif;
  font-weight: normal;
  color: #152136;
  margin-top: 0px;
  font-style: normal;
  font-weight: 400;
  visibility: hidden;
}

.whatIDo {  /* MAKE IT LOOK BETTER */
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-weight: 500;
  padding: 15px 15px;
  text-transform: uppercase;
  background: #ff4a57;
  border-radius: 30px;
  letter-spacing: 2px;
  text-decoration: none;
}

.whatIDo:focus {  /* MAKE IT LOOK BETTER */
  box-shadow: 0px 0px 56px 20px rgba(249,160,63,1);
}

.header-social {
  margin-top: 50px;
  width: 60%;
  display: flex;
  justify-content: space-between;
}

.header-social li {
  background: #e5ecf1;
  display: inline;
}

.header-social li:hover a{
  background: #fff;
}

.header-social a {
  display: inline-block;
  padding: 10px;
}

.header-social i {
  font-size: 1.8rem;
  color: #717377;
}

.background {
  position: absolute;
  display: inline-block;
  top: 75px;
  right: 0;
  left: 0;
  visibility: visible;
  z-index: -1;
}

.floating-developer {
  display: inline-block;
  color: #fff;
  font-family: 'Dancing Script', cursive;
  font-weight: 700;
  font-size: 75px;
  margin: 0;
  transform: rotate(-15deg);
  z-index: 2;
}

.flex-header-content {
  display: flex;
  flex-direction: column;
  position: relative;
}

.my-mug {
  width: 20%;
  position: absolute;
  bottom: 0;
  right: 15%;
  z-index: 3;
  display: none;
}

.back-to-top {
  position: fixed;
  background: #ff4a57;
  height: 60px;
  width: 60px;
  right: 50px;
  bottom: 77px;
  color: #fff;
  text-align: center;
  border-radius: 50%;
  font-size: 2rem;
  line-height: 60px;
  transition: opacity 0.5s;
  opacity: 0;
}

.back-to-top a {
  display: block;
}

.back-to-top a i {
  display: inline-block;
  color: white;
}

.back-to-top-show {
  transition: opacity 0.5s;
  opacity: 1;
}





/* Landscape phones and down */
@media (min-width: 364px) {
  
  .header-social {
    width: 40%;
  }

  h1 {
    font-size: 4rem;
  }

  h2 {     
    font-size: 2rem;
  }

  .header-social i {
    font-size: 2.1rem;
  }

}

/* Landscape phone to portrait tablet */
@media (min-width: 641px) {

  h1 {
    font-size: 5rem;
  }

  h2 {     
    font-size: 2.2rem;
  }

  .background {
    top: -20px;
    left: 10%;
  }
  .flex-header-content {
    flex-direction: row;
    justify-content: space-between;
  }

  .right {
    position: absolute;
    right: 0;
    bottom: -100px;
  }

  .header-social {
    flex-direction: column;
    width: 100%;
  }

  .header-social li {
    margin-top: 10px;
  }

  .header-social i {
    font-size: 3rem;
  }

  .floating-developer {
    font-size: 125px;
  }
}

/* Landscape phone to portrait tablet */
@media (min-width: 961px) {

  h1 {
    font-size: 7rem;
  }

  h2 {     
    font-size: 2.5rem;
  }

  .background {
    top: -30px;
    left: 20%;
  }

  .floating-developer {
    font-size: 150px;
  }

  .my-mug {
    display: block;
  }


  .drop-down-wrapper {
    width: 60%;
    display: flex;
    align-items: center;
  }


  nav ul li {
    margin-top: 0;
    position: relative;
  }

  nav ul li a {
    padding: 20px;
  }

  nav ul li a:before {
  content: '';
  position:absolute;
  height: 2px;
  /*  background: #ff4a57;*/
  background: linear-gradient(150deg, rgba(249,160,63,0.5), rgba(255,74,87,1));
  left: 0px;
  bottom: -10px;
  right: 100%;
  display: block;
  transition: right 0.5s;
  }

  nav ul li:hover a:before  {
    right: 0%;
  } 

  .nav-hide {
    opacity: 1;
  }

  nav ul {
    flex-direction: row;
    justify-content: space-between;
  }

  button {
    display: none;
  }

}



/* Portrait tablet and small desktops */
@media (min-width: 1281px) {
  
  .background {
    top: -30px;
    left: 20%;
  }
  
  /*  .wrapper {
    height: 81.5vh;
  }*/

  h1 {
    font-size: 9rem;
  }

  h2 {     
    font-size: 3rem;
  }

  .whatIDo {
    padding: 21px 53px;
    text-transform: uppercase;
    vertical-align: middle;
    background: #ff4a57;
    border-radius: 30px;
    letter-spacing: 2px;
    text-decoration: none;
  }

  .floating-developer {
    font-size: 250px;
  }

}
