



/***************************************************************************/
/*      LEGEND                                                             */
/*      HIGHLIGHT AND USE USE CTRL + F + ENTER TO SKIP TO EACH SECTION     */ 
/*                                                                         */
/*                                                                         */
/*      SETUP!                                                             */
/*      Style Guide                                                        */
/*      General Settings of Elements and Sections...and Stylistic Sugar!   */
/*      Section 1: Header                                                  */
/*      Section 2: About                                                   */
/*      Section 3: What We Do                                              */
/*      Section 4:                                                         */
/*      Section 5:                                                         */
/*                                                                         */
/***************************************************************************/




/*********************************** Setup! *********************************************/
@import 'normalize';

$logo-orange: #F9A03F;
$buttons: #ff4a57;

$rufinaFont: 'Rufina', serif;


$rubikFont:'Rubik', serif;


/************************* General Settings of Elements and Sections...and Stylistic Sugar! *************************/

html {
  font-size: 62.5%;
  // scroll-behavior: smooth; 
}

body {
  padding: 0.1px;
  position: relative;
  background: #DBE3E9;
}

img {
  width: 100%;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* FIX PAGE STYLINGS */

h1 {
  font-weight: 700;
  font-size: 50px;
  font-family: 'Rufina', serif;
  visibility: hidden; //For the animation
}
 
.header-flex-left p {     
  font-family: 'Rubik', serif;
  font-weight: normal;
  font-size: 2rem;
  color: #152136;
  margin-top: 35px;
  font-style: normal;
  font-weight: 400;
  visibility: hidden;  //For the animation
}

/************************************ Section 1: Header *********************************************/

header {
  background: #DBE3E9;
  position: relative;
}

.nav-wrapper {
  position: sticky;
  top: 4%;
  margin: 4% 4% 0 4%;
  background: white;
  height: 98px;
  z-index: 5;
  transition: all 0.5s;
}

.nav-fixed {
  margin: 0;
  top: 0;
}

.nav-shadow {
  box-shadow: 0px 40px 60px 0px rgba(0,0,0,0.2);
}

.drop-down-shadow {
  box-shadow: 0px 40px 60px 0px rgba(0,0,0,0.2);
}

.nav {   //Start of the navigation block

  li {
    position: relative;
    margin: 10px;

    a {
      display: block;
      padding: 20px;
      font-size: 1.6rem;
      font-weight: 600;
      color: black;
    }  

    a:before {
      content: '';
      position:absolute;
      height: 2px;
      background: linear-gradient(150deg, rgba(249,160,63,0.5), rgba(255,74,87,1));
      left: 0px;
      bottom: 0px;
      right: 100%;
      display: block;
      transition: right 0.5s;
    }    
  }
} 

nav ul li:hover a:before  {
  right: 70%;
} 

.sticky-wrapper {   //start of the code block for the sticky wrapper
  position: relative;
  margin-bottom: 1px;
  width: 100%;
  color: #fff;
  overflow: hidden;

  .header-logo {
    width: 50px;
    margin: 10px 0 0 20px;
  }

  input {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }

  label {
   position: absolute;
   display: block;
   top: 0;
   right: 0;
   font-size: 30px;
   margin: 25px 15px;
   padding: 5px;
   color: $logo-orange;
   border: 2px solid $logo-orange;
  }
  
  .tab-content {
    max-height: 0;
    margin-top: 13px;
    overflow: hidden;
    background: #fff;
    transition: max-height 0.5s ease-out;
    position: relative;
  }

  input:checked ~ .tab-content {
    max-height: 57vh; //CHANGE THIS VALUE TO CONTROL THE HEIGHT OF THE SCROLLDOWN MENU
    border-bottom: 0.5px solid rgba(0,0,0,0.1);
  }
}

button {
  background-color: $logo-orange;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

// button:active {  Add this function later
// }

button:focus {
  background-color: green; 
}

.heading-wrapper {
  position:relative;
  padding: 5%;
  z-index: 1;
}

.background {
  visibility: hidden;
}

.floating-developer {
  display: inline-block;
  color: #fff;
  font-family: 'Dancing Script', cursive;
  font-weight: 700;
  font-size: 7.5rem;
  margin: 0;
  padding-left: 5%;
  transform: rotate(-15deg);
  z-index: 2;
}

.flex-header-content {
  display: flex;
  flex-direction: column;
  position: relative;
}

.whatIDo {  /* MAKE IT LOOK BETTER */
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-weight: 500;
  padding: 15px 15px;
  text-transform: uppercase;
  background: $buttons;
  border-radius: 30px;
  letter-spacing: 2px;
  text-decoration: none;
}

.whatIDo:focus {  // MAKE IT LOOK BETTER
  box-shadow: 0px 0px 56px 20px $logo-orange;
}

.header-social {  //Head of the social header section
  margin-top: 50px;
  width: 60%;
  display: flex;
  justify-content: space-between;

  li {
    background: #e5ecf1;
    display: inline;
  }

  li:hover a,
  li:active a {
    background: #fff;
  }

  a {
    display: inline-block;
    padding: 10px;
  }

  i {
    font-size: 1.8rem;
    color: #717377;
  }
}

.background {
  position: absolute;
  display: inline-block;
  top: 75px;
  right: 0;
  left: 0;
  visibility: visible;
  z-index: -1;
}

.my-mug {
  width: 18%;
  position: absolute;
  bottom: 0;
  right: 15%;
  z-index: 3;
  display: none;
}

.back-to-top {
  position: fixed;
  background: $buttons;
  height: 60px;
  width: 60px;
  right: 50px;
  bottom: 77px;
  color: #fff;
  text-align: center;
  border-radius: 50%;
  font-size: 2rem;
  line-height: 60px;
  transition: opacity 0.5s;
  opacity: 0;
}

.back-to-top a {
  display: block;
}

.back-to-top a i {
  display: inline-block;
  color: white;
}

.back-to-top-show {
  transition: opacity 0.5s;
  opacity: 1;
}

/************************************ Section 2: About *********************************************/


.wrapper-white {
  background: white;
  padding: 0 5%;
}


.about-flex-wrapper {
 margin-top: 5%;
 padding: 15%;
 background: white;
 display: flex;
 flex-direction: column;
 justify-content: center;
}

.about-flex-left {
  display: inline-block;
  width: 100%;
  margin-right: 5%;

}

.about-flex-right {

  width: 100%;

  .contact-flex {
    ul {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    
      li {
        display: flex;
        justify-content: baseline;
        align-items: center;
      }

      li:last-child {
        margin-top: 5%;
      }
    }
  }

  h3 {
    font-size: 1.8rem;
    text-transform: uppercase;
    font-family: $rubikFont;
    color: #ff4a57;
    font-weight: 500;
    letter-spacing: 2px;
  }

  h2 {
    font-size: 3.8rem;
    font-family: $rufinaFont;
    line-height: 1;
    letter-spacing: 2px;
  }

  h4 {
    color: #929cad;
    font-weight: 500;
    font-family: $rubikFont;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 3px;
    margin: 0;
  }

  
  p {
    font-size: 1.5rem;
    font-family: $rufinaFont;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.2;
    margin: 0;
  }

  a {
    font-size: 1.5rem;
    font-family: $rufinaFont;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.2;
    color: black;
  }
}

.contact-logo {
  min-width: 46px;
  margin-right: 20px;
}

/************************************ Section 3: What We Do *********************************************/

.what-we-do {

  h3 {
    font-size: 1.8rem;
    text-transform: uppercase;
    font-family: $rubikFont;
    color: #ff4a57;
    font-weight: 500;
    letter-spacing: 2px;
  }
  
  h2 {
    font-size: 3.8rem;
    font-family: $rufinaFont;
    line-height: 1;
    letter-spacing: 2px;
  }
}







/************************************ Section 6: Media Queries ********************************************/

// Landscape phones and down
@media (min-width: 364px) {
  
  //Section 1: Header

  .header-social {
    width: 40%;
  }

  h1 {
    font-size: 4rem;
  }

  .header-social i {
    font-size: 2.1rem;
  }

  .floating-developer {
    padding-left: 5%;
    font-size: 10rem;
  }


}

// Landscape phone to portrait tablet
@media (min-width: 641px) {

    //Section 1: Header
  h1 {
    font-size: 5rem;
  }

  .header-flex-left p {     
    font-size: 2.2rem;
  }

  .background {
    top: -20px;
    left: 10%;
  }
  .flex-header-content {
    flex-direction: row;
    justify-content: space-between;
  }

  .header-flex-right {
    position: absolute;
    right: 0;
    bottom: 0;
  }

  .header-social {
    flex-direction: column;
    width: 100%;
  }

  .header-social li {
    margin-top: 10px;
  }

  .header-social i {
    font-size: 3rem;
  }

  .floating-developer {
    font-size: 12.5rem;
    padding-top: 12%;
  }

    //Section 2: About me
  .about-flex-right {

    p {
      font-size: 1.7rem;

    }
  
    a {
      font-size: 1.7rem;

  }

  }
}

//Landscape phone to portrait tablet
@media (min-width: 961px) {

  .nav-wrapper {
    height: 85px;
  }

  h1 {
    font-size: 7rem;
  }

  .header-flex-left p {     
    font-size: 2.5rem;
  }

  .background {
    top: -30px;
    left: 20%;
  }

  .floating-developer {
    font-size: 150px;
  }

  .my-mug {
    display: block;
  }


  .drop-down-wrapper {
    width: 60%;
    display: flex;
    align-items: center;
  }


  .sticky-wrapper {   //start of the code block for the sticky wrapper
    display: flex;
    justify-content: space-between;

    .header-logo {
      width: 50px;
      margin: 10px 0 0 20px;
    }
  
    input {
      display: none;
    }

    label {
     display: none;
    }

    .tab-content {
     max-height: 150px;
     margin: 0;
    }

  }  //End of code for sticky wrapper
  
  .nav { //Start of the code block for the navigation
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 40px;

    li {
      align-content: center;
    }

    li a {
      padding: 20px;
    }
    
    li:hover a:before  {
      right: 0%;
    }
  }
  
  //About section Code
  .about-flex-wrapper {
    margin-top: 5%;
    padding: 5% 15%;
    display: flex;
    flex-direction: row;
   justify-content: center;
   }

   .about-flex-left {
     width: 50%;
   }

   .about-flex-right {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 5%;

    .contact-flex {
      ul {   
        
        li {
          width: 63%;
        }
      }
    }
  }
}

// Portrait tablet and small desktops
@media (min-width: 1281px) {
  
  .background {
    top: -30px;
    left: 20%;
  }
  
 .wrapper {
    width: 90%;
    margin: 0 auto; 
  }

  h1 {
    font-size: 9rem;
  }

  .left p {     
    font-size: 3rem;
  }

  .whatIDo {
    padding: 21px 53px;
    text-transform: uppercase;
    vertical-align: middle;
    background: $buttons;
    border-radius: 30px;
    letter-spacing: 2px;
    text-decoration: none;
  }

  .floating-developer {
    font-size: 25rem;
    padding-top: 5%; 
  }

  .my-mug {
    width: 18%;
  }

  .about-flex-right {

    .contact-flex {
      ul {
        flex-direction: row;    
        
        li {
          width: 50%;
        }
        li:last-child {
          margin-top: 0;
          margin-left: 10%;
        }
      }
    }
 

    p {
      font-size: 2rem;

    }
  
    a {
      font-size: 2rem;
    }
  }
}